<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.rxjava_learning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EasyActivity" />
        <activity android:name=".BasisOperator.JustActivity" />
        <activity android:name=".BasisOperator.FromArrayActivity" />
        <activity android:name=".BasisOperator.FromIterableActivity" />
        <activity android:name=".BasisOperator.DeferActivity" />
        <activity android:name=".BasisOperator.TimerActivity" />
        <activity android:name=".BasisOperator.IntervalActivity" />
        <activity android:name=".BasisOperator.RangActivity" />
        <activity android:name=".ChangeOperator.MapActivity" />
        <activity android:name=".ChangeOperator.FlatMapActivity" />
        <activity android:name=".ChangeOperator.BufferActivity" />
        <activity android:name=".CombinationOperator.ConcatActivity" />
        <activity android:name=".CombinationOperator.MergeActivity" />
        <activity android:name=".CombinationOperator.concatDelayErrorActivity" />
        <activity android:name=".CombinationOperator.ZipActivity" />
        <activity android:name=".CombinationOperator.CombineLatestActivity" />
        <activity android:name=".CombinationOperator.ReduceActivity" />
        <activity android:name=".CombinationOperator.CollectActivity" />
        <activity android:name=".CombinationOperator.StartWithActivity" />
        <activity android:name=".CombinationOperator.CountActivity" />
        <activity android:name=".FunctionalityOperator.DelayActivity" />
        <activity android:name=".FunctionalityOperator.DoActivity" />
        <activity android:name=".FunctionalityOperator.ErrorActivity" />
        <activity android:name=".FunctionalityOperator.RetryActivity" />
        <activity android:name=".FunctionalityOperator.RepeatActivity" />
        <activity android:name=".PracticeActivity" />
        <activity android:name=".RetrofitRxJava.RxJavafixRetrofit" />
        <activity android:name=".RetrofitRxJava.RxJavafixRetrofit1"/>
        <activity android:name=".RetrofitRxJava.RxJavafixRetrofit2"/>
    </application>

</manifest>